.btn{
    position: relative;
    border-radius: 50px;
    padding: 20px;
    box-shadow: $box-shadow;
    background-image: $colour-linear;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .3s ease;
    z-index: 1;

    &:hover{
        &::before{
            opacity: 1;          
        }
    }

    &::before{
        content: '';
        position: absolute;
        border-radius: 50px;
        inset: 0;
        background-image: $linear-lighten;
        box-shadow: $darken-shadow;		
        opacity: 0;
        z-index: -1;
        transition: .3s ease;     
    }

    span{
        color: $blanc;           
        font-weight: 600;                     
        font-size: 18px;
    }
}