*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

input, button, fieldset{
    border: none;
    outline: none;
}

body {
    box-sizing: border-box;
}

hr{
    outline: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: $colour-dark;
}