.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;  
    border-radius: 50px 50px 0 0;
    padding: 30px 30px 50px 30px;
    background-color: $colour-menu;

    &__titre{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h1{
            font-family: $police-secondary;
            font-size: 2rem;           
        }

        i{
            font-size: $font-size-i;
        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        

        h2{
            width: fit-content;
            text-transform: uppercase;
            font-weight: lighter;
            font-size: 1.2rem;
            padding-bottom: .5rem;
            background: linear-gradient(to bottom, transparent 90%, $colour-tertiary 1%);
            background-size: 50% 100%;
            background-repeat: no-repeat;
        }
        .card{
            position: relative;
            display: flex;
            background-color: $colour-tertiary;
            box-shadow: $box-shadow;           
            border-radius: 15px;
            overflow: hidden;
            animation: apparition $anim-dur ease both;

            @for $i from 1 through $num-card {
                &--#{$i} {
                    animation-delay: $anim-delay * $i;
                }
            }           

            &__visible{
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;
                padding: 1rem;
                transition: .3s;
                background-color: white;
                z-index: 5;
                cursor: pointer;
               
                &:hover{
                    width: 80%;
                }
                &:hover + .card__invisible{
                    i{
                        transform: translateX(0) rotate(0);
                    }                   
                }

                &--sous-titre{
                    display: flex;
                    justify-content: space-between;
                }
        
            }
            &__invisible{
                position: absolute;            
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                height: 100%;
                right: 0;
                top: 0;

                i{
                    transform: translateX(150%) rotate(360deg);
                    font-size: 2rem;
                    color: white;
                    transition: .5s ease;
                }
            }
        }
    }

    &__btn{
        @extend .btn;
        width: 50%;
        
        
    }
}