@mixin img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@mixin tablet {
    @media screen and (min-width: $tablet) and (max-width: $desktop){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop) and (max-width: $xxl){
        @content;
    }
}