$colour-primary: #9356DC;
$colour-secondary: #FF79DA ;
$colour-tertiary: #99E2D0;

$colour-dark: rgb(24, 24, 24);
$colour-menu: rgb(238, 238, 238);
$blanc: #fff;


$box-shadow : 3px 3px 10px rgb(193, 193, 193);

$colour-linear: linear-gradient(to top, $colour-primary, $colour-secondary);

$police-primary: 'Roboto', sans-serif;
$police-secondary: 'Shrikhand', cursive;
