$colour-primary: #9356DC;
$colour-secondary: #FF79DA ;
$colour-tertiary: #99E2D0;

$colour-dark: rgb(24, 24, 24);
$colour-menu: rgb(238, 238, 238);
$blanc: #fff;


$box-shadow : 3px 3px 10px rgb(193, 193, 193);

$font-size-i : 30px;

$colour-linear: linear-gradient(to top, $colour-primary, $colour-secondary);

$lighten-color-primary: lighten($colour-primary, 5%);
$lighten-color-secondary: lighten($colour-secondary, 5%);

$linear-lighten: linear-gradient(to top, $lighten-color-primary, $lighten-color-secondary);

$police-primary: 'Roboto', sans-serif;
$police-secondary: 'Shrikhand', cursive;

$anim-dur: 1.5s;
$num-card : 9;
$anim-delay : $anim-dur / $num-card;