/* Animation cards */

@keyframes apparition{
    from{
        opacity: 0;
        transform: translateY(20%);
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}


/* load spinner */

@keyframes spinner{ 
    0%{
        transform: rotate(0)
    }
    100%{
        transform: rotate(1turn)
    }
}